.fitems
{
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: rgb(218, 236, 234);
    color: rgb(48, 3, 39);
    font-size: 20px;
    border-radius: 10px;
    border-color: rgb(61, 21, 139);
    border-width: 10px;
    border-style: double;
}
.fcontainer
{
    display: flex;
    
    justify-content: center;
}
.item2
{
    order:3;
}